<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>

	<title>YM Active JQ</title>

  <style>
    body {
      background-color: #fff;
    }
  </style>
	<script src="https://accounts.google.com/gsi/client"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jwt-decode@2.2.0/build/jwt-decode.min.js"></script>
</head>

<body>

<div style="margin-top: -20px !important;">
  <h2 id="tw-target-text" class="tw-data-text tw-text-large XcVN5d tw-ta" dir="ltr" style="text-align: center;">To view
    <span id="nameIn2" style="font-weight:bold;text-decoration: underline;"></span> content, log in with your preferred
    social network<p
      style="text-align: center;font-size:12px;font-weight: 100;padding: 0px!important;margin: 0px!important;">by
      logging in you agree to receive emails from <span id="nameIn"
        style="font-weight:bold;text-decoration: underline;"></span> in your email account.</p>
  </h2>
  <div style="text-align: center;width: 320px;margin: auto !important;">
    <div id="divFacebook" style="display:none">
      <button onclick="login()" class="sc_button_hover_fade btn-credito"
        style="font-family: Roboto,arial,sans-serif; width: 300px; height: 44px; font-size: 18px; font-weight: bold; background-color: #4c69ba!important; border-radius: 5px; color: #ffffff !important; border-color: white; border: 1px solid white;cursor:pointer">Sign
        in with Facebook</button>
      <div id="buttonDivF" style="margin-left:9px;margin-bottom:5px"></div>
    </div>
    <div id="divGoogle" style="display:none">
      <div id="buttonDiv" style="margin-left:9px;margin-bottom:5px"></div>
      <button onclick="login()" class="sc_button_hover_fade btn-credito"
        style="font-family: Roboto,arial,sans-serif; width: 300px; height: 44px; font-size: 18px; font-weight: bold; background-color: #4c69ba!important; border-radius: 5px; color: #ffffff !important; border-color: white; border: 1px solid white;cursor:pointer">Sign
        in with Facebook</button>
    </div>

  </div>
</div>
<div class="ad-ym-99page"></div>
<pre><style>
  .hero-headline{display:none !important;} .hero-square{display:none !important;}</style>
  </pre>
<center>
  <a onclick="irSemlogin()" class="sc_button_hover_fade btn-credito"
    style="font-family: Roboto,arial,sans-serif; width: 310px; height: 44px; font-size: 12px; font-weight: bold; background-color: red!important; border-radius: 5px; color: #ffffff !important; border-color: white; border: 1px solid white;cursor:pointer;padding:10px">I
    don't want to register and receive golf news</a>
</center>
<div style="padding:10px">
  Financing is carried out by private and public companies and banks. Interest rates vary depending on the company /
  bank selected. Cars can in most cases be used as well as new ones. Make the simulation in each company / bank so you
  can know the installments and values ​​of each one and have your new car!
</div>
<script src="referrer.js"></script>
<script src="active-jr.js"></script>
<script src="active-iframe.js"></script>
</body>
</html>
